{% extends 'base.html.twig' %}

{% block title %}Choisissez votre type d'inscription | MissiOn{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center">
                <h1 class="mb-4">Rejoignez-nous en tant que entreprise ou freelance</h1>

                <div class="d-grid gap-4">
                    <a href="/register/freelance" class="btn btn-success btn-lg">
                        <i class="fas fa-laptop-code me-2"></i>
                        Je suis un travailleur indépendant, à la recherche d'un emploi
                    </a>
                </div>
                <div class="mt-4 small">
                    <p>Vous êtes une entreprise ?</p>
                    <a href="/register/gestionnaire" class="btn btn-primary btn-lg">
                        <i class="fas fa-briefcase me-2"></i>
                        Demande de compte gestionnaire d'entreprise
                    </a>
                </div>
                <p class="mt-4">9
                    Vous avez déjà un compte ?
                    <a href="/login">Se connecter</a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}